@page { margin: 0; size: A4; }

#button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-group button {
  margin: 5px;
}


.sheet {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 210mm;
  /* height: 296mm; */
  box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
  padding: 10mm;
  margin: auto;
  background-color: white;
  border: 1px solid black;
}

.section {
  margin-bottom: 10px;
}

.section:hover, .section:hover input, .section:hover textarea {
  border: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-header {
  border-bottom: 1px solid black;
  font-size: 16px;
}

.section input, .section textarea {
  width: 100%;
  margin: 2px;
  border: transparent;
}

.section input {
  font-size: 12px;
  font-weight: bold;
}

.section textarea {
  font-size: 12px;
  resize: none;
}

.center-max {
  text-align: center;
}

.right-max {
  text-align: right;
}

.left-max {
  text-align: left;
}

#alert {
  z-index: 1;
  position: absolute;
  width: 100%;
  opacity: 70%;
  text-align: center;

}