input, textarea {
  width: 100%;
  resize: none;
  margin: 5px;
  font-size: 1rem;
  /* border: transparent; */
}

.center-max {
  text-align: center;
}

.right-max {
  text-align: right;
}

.left-max {
  text-align: left;
}

input[name=full-name] {
  font-size: 2rem;
}